
.feather-arrow-left-circle:before { content: '\e800'; } /* '' */
.feather-arrow-right:before { content: '\e801'; } /* '' */
.feather-arrow-up:before { content: '\e802'; } /* '' */
.feather-arrow-up-right:before { content: '\e803'; } /* '' */
.feather-arrow-up-left:before { content: '\e804'; } /* '' */
.feather-arrow-right-circle:before { content: '\e805'; } /* '' */
.feather-arrow-up-circle:before { content: '\e806'; } /* '' */
.feather-at-sign:before { content: '\e807'; } /* '' */
.feather-bar-chart:before { content: '\e808'; } /* '' */
.feather-award:before { content: '\e809'; } /* '' */
.feather-bell:before { content: '\e80a'; } /* '' */
.feather-bar-chart-2:before { content: '\e80b'; } /* '' */
.feather-bell-off:before { content: '\e80c'; } /* '' */
.feather-battery:before { content: '\e80d'; } /* '' */
.feather-battery-charging:before { content: '\e80e'; } /* '' */
.feather-book:before { content: '\e80f'; } /* '' */
.feather-bold:before { content: '\e810'; } /* '' */
.feather-bookmark:before { content: '\e811'; } /* '' */
.feather-book-open:before { content: '\e812'; } /* '' */
.feather-bluetooth:before { content: '\e813'; } /* '' */
.feather-box:before { content: '\e814'; } /* '' */
.feather-briefcase:before { content: '\e815'; } /* '' */
.feather-calendar:before { content: '\e816'; } /* '' */
.feather-cast:before { content: '\e817'; } /* '' */
.feather-camera:before { content: '\e818'; } /* '' */
.feather-camera-off:before { content: '\e819'; } /* '' */
.feather-check:before { content: '\e81a'; } /* '' */
.feather-check-circle:before { content: '\e81b'; } /* '' */
.feather-check-square:before { content: '\e81c'; } /* '' */
.feather-chevron-down:before { content: '\e81d'; } /* '' */
.feather-chevron-right:before { content: '\e81e'; } /* '' */
.feather-chevron-left:before { content: '\e81f'; } /* '' */
.feather-chevrons-down:before { content: '\e820'; } /* '' */
.feather-chevrons-left:before { content: '\e821'; } /* '' */
.feather-chevrons-right:before { content: '\e822'; } /* '' */
.feather-chevrons-up:before { content: '\e823'; } /* '' */
.feather-chrome:before { content: '\e824'; } /* '' */
.feather-chevron-up:before { content: '\e825'; } /* '' */
.feather-circle:before { content: '\e826'; } /* '' */
.feather-clock:before { content: '\e827'; } /* '' */
.feather-cloud:before { content: '\e828'; } /* '' */
.feather-clipboard:before { content: '\e829'; } /* '' */
.feather-cloud-lightning:before { content: '\e82b'; } /* '' */
.feather-cloud-off:before { content: '\e82c'; } /* '' */
.feather-code:before { content: '\e82e'; } /* '' */
.feather-codesandbox:before { content: '\e830'; } /* '' */
.feather-coffee:before { content: '\e831'; } /* '' */
.feather-codepen:before { content: '\e832'; } /* '' */
.feather-columns:before { content: '\e833'; } /* '' */
.feather-command:before { content: '\e834'; } /* '' */
.feather-corner-down-right:before { content: '\e835'; } /* '' */
.feather-compass:before { content: '\e836'; } /* '' */
.feather-corner-down-left:before { content: '\e837'; } /* '' */
.feather-corner-left-up:before { content: '\e838'; } /* '' */
.feather-corner-left-down:before { content: '\e839'; } /* '' */
.feather-corner-right-down:before { content: '\e83a'; } /* '' */
.feather-copy:before { content: '\e83b'; } /* '' */
.feather-corner-right-up:before { content: '\e83c'; } /* '' */
.feather-corner-up-left:before { content: '\e83d'; } /* '' */
.feather-corner-up-right:before { content: '\e83e'; } /* '' */
.feather-crop:before { content: '\e83f'; } /* '' */
.feather-delete:before { content: '\e840'; } /* '' */
.feather-crosshair:before { content: '\e841'; } /* '' */
.feather-credit-card:before { content: '\e842'; } /* '' */
.feather-database:before { content: '\e843'; } /* '' */
.feather-dollar-sign:before { content: '\e844'; } /* '' */
.feather-disc:before { content: '\e845'; } /* '' */
.feather-download-cloud:before { content: '\e846'; } /* '' */
.feather-download:before { content: '\e847'; } /* '' */
.feather-droplet:before { content: '\e848'; } /* '' */
.feather-cpu:before { content: '\e849'; } /* '' */
.feather-edit:before { content: '\e84a'; } /* '' */
.feather-edit-2:before { content: '\e84b'; } /* '' */
.feather-edit-3:before { content: '\e84c'; } /* '' */
.feather-external-link:before { content: '\e84d'; } /* '' */
.feather-facebook:before { content: '\e84e'; } /* '' */
.feather-eye-off:before { content: '\e84f'; } /* '' */
.feather-eye:before { content: '\e850'; } /* '' */
.feather-fast-forward:before { content: '\e851'; } /* '' */
.feather-feather:before { content: '\e852'; } /* '' */
.feather-figma:before { content: '\e853'; } /* '' */
.feather-file:before { content: '\e854'; } /* '' */
.feather-file-minus:before { content: '\e855'; } /* '' */
.feather-film:before { content: '\e856'; } /* '' */
.feather-file-plus:before { content: '\e857'; } /* '' */
.feather-file-text:before { content: '\e858'; } /* '' */
.feather-folder:before { content: '\e859'; } /* '' */
.feather-filter:before { content: '\e85a'; } /* '' */
.feather-flag:before { content: '\e85b'; } /* '' */
.feather-folder-plus:before { content: '\e85c'; } /* '' */
.feather-folder-minus:before { content: '\e85d'; } /* '' */
.feather-gift:before { content: '\e85e'; } /* '' */
.feather-framer:before { content: '\e85f'; } /* '' */
.feather-frown:before { content: '\e860'; } /* '' */
.feather-git-branch:before { content: '\e861'; } /* '' */
.feather-git-commit:before { content: '\e862'; } /* '' */
.feather-github:before { content: '\e863'; } /* '' */
.feather-gitlab:before { content: '\e864'; } /* '' */
.feather-git-merge:before { content: '\e865'; } /* '' */
.feather-git-pull-request:before { content: '\e866'; } /* '' */
.feather-globe:before { content: '\e867'; } /* '' */
.feather-grid:before { content: '\e868'; } /* '' */
.feather-hard-drive:before { content: '\e869'; } /* '' */
.feather-hash:before { content: '\e86a'; } /* '' */
.feather-headphones:before { content: '\e86b'; } /* '' */
.feather-heart:before { content: '\e86c'; } /* '' */
.feather-help-circle:before { content: '\e86d'; } /* '' */
.feather-hexagon:before { content: '\e86e'; } /* '' */
.feather-home:before { content: '\e86f'; } /* '' */
.feather-image:before { content: '\e870'; } /* '' */
.feather-inbox:before { content: '\e871'; } /* '' */
.feather-info:before { content: '\e872'; } /* '' */
.feather-instagram:before { content: '\e873'; } /* '' */
.feather-italic:before { content: '\e874'; } /* '' */
.feather-key:before { content: '\e875'; } /* '' */
.feather-layers:before { content: '\e876'; } /* '' */
.feather-layout:before { content: '\e877'; } /* '' */
.feather-life-buoy:before { content: '\e878'; } /* '' */
.feather-link:before { content: '\e879'; } /* '' */
.feather-link-2:before { content: '\e87a'; } /* '' */
.feather-linkedin:before { content: '\e87b'; } /* '' */
.feather-list:before { content: '\e87c'; } /* '' */
.feather-loader:before { content: '\e87d'; } /* '' */
.feather-lock:before { content: '\e87e'; } /* '' */
.feather-log-in:before { content: '\e87f'; } /* '' */
.feather-log-out:before { content: '\e880'; } /* '' */
.feather-mail:before { content: '\e881'; } /* '' */
.feather-map:before { content: '\e882'; } /* '' */
.feather-map-pin:before { content: '\e883'; } /* '' */
.feather-maximize:before { content: '\e884'; } /* '' */
.feather-maximize-2:before { content: '\e885'; } /* '' */
.feather-meh:before { content: '\e886'; } /* '' */
.feather-menu:before { content: '\e887'; } /* '' */
.feather-message-circle:before { content: '\e888'; } /* '' */
.feather-message-square:before { content: '\e889'; } /* '' */
.feather-mic:before { content: '\e88a'; } /* '' */
.feather-mic-off:before { content: '\e88b'; } /* '' */
.feather-minimize:before { content: '\e88c'; } /* '' */
.feather-minimize-2:before { content: '\e88d'; } /* '' */
.feather-minus:before { content: '\e88e'; } /* '' */
.feather-minus-circle:before { content: '\e88f'; } /* '' */
.feather-minus-square:before { content: '\e890'; } /* '' */
.feather-monitor:before { content: '\e891'; } /* '' */
.feather-moon:before { content: '\e892'; } /* '' */
.feather-more-horizontal:before { content: '\e893'; } /* '' */
.feather-more-vertical:before { content: '\e894'; } /* '' */
.feather-mouse-pointer:before { content: '\e895'; } /* '' */
.feather-move:before { content: '\e896'; } /* '' */
.feather-music:before { content: '\e897'; } /* '' */
.feather-navigation:before { content: '\e898'; } /* '' */
.feather-navigation-2:before { content: '\e899'; } /* '' */
.feather-octagon:before { content: '\e89a'; } /* '' */
.feather-package:before { content: '\e89b'; } /* '' */
.feather-paperclip:before { content: '\e89c'; } /* '' */
.feather-pause:before { content: '\e89d'; } /* '' */
.feather-pause-circle:before { content: '\e89e'; } /* '' */
.feather-pen-tool:before { content: '\e89f'; } /* '' */
.feather-percent:before { content: '\e8a0'; } /* '' */
.feather-phone:before { content: '\e8a1'; } /* '' */
.feather-phone-call:before { content: '\e8a2'; } /* '' */
.feather-phone-forwarded:before { content: '\e8a3'; } /* '' */
.feather-phone-incoming:before { content: '\e8a4'; } /* '' */
.feather-phone-missed:before { content: '\e8a5'; } /* '' */
.feather-phone-off:before { content: '\e8a6'; } /* '' */
.feather-phone-outgoing:before { content: '\e8a7'; } /* '' */
.feather-pie-chart:before { content: '\e8a8'; } /* '' */
.feather-play:before { content: '\e8a9'; } /* '' */
.feather-play-circle:before { content: '\e8aa'; } /* '' */
.feather-plus:before { content: '\e8ab'; } /* '' */
.feather-plus-circle:before { content: '\e8ac'; } /* '' */
.feather-plus-square:before { content: '\e8ad'; } /* '' */
.feather-pocket:before { content: '\e8ae'; } /* '' */
.feather-power:before { content: '\e8af'; } /* '' */
.feather-printer:before { content: '\e8b0'; } /* '' */
.feather-radio:before { content: '\e8b1'; } /* '' */
.feather-refresh-ccw:before { content: '\e8b2'; } /* '' */
.feather-refresh-cw:before { content: '\e8b3'; } /* '' */
.feather-repeat:before { content: '\e8b4'; } /* '' */
.feather-rewind:before { content: '\e8b5'; } /* '' */
.feather-rotate-ccw:before { content: '\e8b6'; } /* '' */
.feather-rotate-cw:before { content: '\e8b7'; } /* '' */
.feather-rss:before { content: '\e8b8'; } /* '' */
.feather-save:before { content: '\e8b9'; } /* '' */
.feather-scissors:before { content: '\e8ba'; } /* '' */
.feather-search:before { content: '\e8bb'; } /* '' */
.feather-send:before { content: '\e8bc'; } /* '' */
.feather-server:before { content: '\e8bd'; } /* '' */
.feather-settings:before { content: '\e8be'; } /* '' */
.feather-share:before { content: '\e8bf'; } /* '' */
.feather-share-2:before { content: '\e8c0'; } /* '' */
.feather-shield:before { content: '\e8c1'; } /* '' */
.feather-shield-off:before { content: '\e8c2'; } /* '' */
.feather-shopping-bag:before { content: '\e8c3'; } /* '' */
.feather-shopping-cart:before { content: '\e8c4'; } /* '' */
.feather-shuffle:before { content: '\e8c5'; } /* '' */
.feather-sidebar:before { content: '\e8c6'; } /* '' */
.feather-skip-back:before { content: '\e8c7'; } /* '' */
.feather-skip-forward:before { content: '\e8c8'; } /* '' */
.feather-slack:before { content: '\e8c9'; } /* '' */
.feather-sliders:before { content: '\e8ca'; } /* '' */
.feather-smartphone:before { content: '\e8cb'; } /* '' */
.feather-slash:before { content: '\e8cc'; } /* '' */
.feather-speaker:before { content: '\e8cd'; } /* '' */
.feather-smile:before { content: '\e8ce'; } /* '' */
.feather-square:before { content: '\e8cf'; } /* '' */
.feather-star:before { content: '\e8d0'; } /* '' */
.feather-stop-circle:before { content: '\e8d1'; } /* '' */
.feather-sun:before { content: '\e8d2'; } /* '' */
.feather-sunrise:before { content: '\e8d3'; } /* '' */
.feather-sunset:before { content: '\e8d4'; } /* '' */
.feather-tablet:before { content: '\e8d5'; } /* '' */
.feather-tag:before { content: '\e8d6'; } /* '' */
.feather-target:before { content: '\e8d7'; } /* '' */
.feather-terminal:before { content: '\e8d8'; } /* '' */
.feather-tool:before { content: '\e8d9'; } /* '' */
.feather-thermometer:before { content: '\e8da'; } /* '' */
.feather-thumbs-up:before { content: '\e8db'; } /* '' */
.feather-toggle-left:before { content: '\e8dc'; } /* '' */
.feather-toggle-right:before { content: '\e8dd'; } /* '' */
.feather-trello:before { content: '\e8de'; } /* '' */
.feather-trash:before { content: '\e8df'; } /* '' */
.feather-thumbs-down:before { content: '\e8e0'; } /* '' */
.feather-trash-2:before { content: '\e8e1'; } /* '' */
.feather-trending-down:before { content: '\e8e2'; } /* '' */
.feather-trending-up:before { content: '\e8e3'; } /* '' */
.feather-triangle:before { content: '\e8e4'; } /* '' */
.feather-truck:before { content: '\e8e5'; } /* '' */
.feather-tv:before { content: '\e8e6'; } /* '' */
.feather-twitch:before { content: '\e8e7'; } /* '' */
.feather-twitter:before { content: '\e8e8'; } /* '' */
.feather-type:before { content: '\e8e9'; } /* '' */
.feather-umbrella:before { content: '\e8ea'; } /* '' */
.feather-underline:before { content: '\e8eb'; } /* '' */
.feather-unlock:before { content: '\e8ec'; } /* '' */
.feather-upload:before { content: '\e8ed'; } /* '' */
.feather-upload-cloud:before { content: '\e8ee'; } /* '' */
.feather-user:before { content: '\e8ef'; } /* '' */
.feather-user-check:before { content: '\e8f0'; } /* '' */
.feather-user-minus:before { content: '\e8f1'; } /* '' */
.feather-users:before { content: '\e8f2'; } /* '' */
.feather-user-plus:before { content: '\e8f3'; } /* '' */
.feather-video-off:before { content: '\e8f4'; } /* '' */
.feather-video:before { content: '\e8f5'; } /* '' */
.feather-user-x:before { content: '\e8f6'; } /* '' */
.feather-voicemail:before { content: '\e8f7'; } /* '' */
.feather-volume:before { content: '\e8f8'; } /* '' */
.feather-volume-1:before { content: '\e8f9'; } /* '' */
.feather-volume-2:before { content: '\e8fa'; } /* '' */
.feather-volume-x:before { content: '\e8fb'; } /* '' */
.feather-wifi:before { content: '\e8fc'; } /* '' */
.feather-wifi-off:before { content: '\e8fd'; } /* '' */
.feather-watch:before { content: '\e8fe'; } /* '' */
.feather-wind:before { content: '\e8ff'; } /* '' */
.feather-x-circle:before { content: '\e900'; } /* '' */
.feather-x-octagon:before { content: '\e901'; } /* '' */
.feather-x-square:before { content: '\e902'; } /* '' */
.feather-x:before { content: '\e903'; } /* '' */
.feather-youtube:before { content: '\e904'; } /* '' */
.feather-zap:before { content: '\e905'; } /* '' */
.feather-zap-off:before { content: '\e906'; } /* '' */
.feather-zoom-in:before { content: '\e907'; } /* '' */
.feather-zoom-out:before { content: '\e908'; } /* '' */
.feather-airplay:before { content: '\e909'; } /* '' */
.feather-activity:before { content: '\e90a'; } /* '' */
.feather-alert-circle:before { content: '\e90b'; } /* '' */
.feather-alert-octagon:before { content: '\e90c'; } /* '' */
.feather-alert-triangle:before { content: '\e90d'; } /* '' */
.feather-align-center:before { content: '\e90e'; } /* '' */
.feather-align-justify:before { content: '\e90f'; } /* '' */
.feather-align-right:before { content: '\e910'; } /* '' */
.feather-archive:before { content: '\e911'; } /* '' */
.feather-anchor:before { content: '\e912'; } /* '' */
.feather-align-left:before { content: '\e913'; } /* '' */
.feather-arrow-down:before { content: '\e914'; } /* '' */
.feather-aperture:before { content: '\e915'; } /* '' */
.feather-arrow-down-circle:before { content: '\e916'; } /* '' */
.feather-arrow-down-right:before { content: '\e917'; } /* '' */
.feather-arrow-down-left:before { content: '\e918'; } /* '' */
.feather-arrow-left:before { content: '\e919'; } /* '' */
.feather-cloud-drizzle:before { content: '\e91a'; } /* '' */
.feather-cloud-rain:before { content: '\e91b'; } /* '' */
.feather-cloud-snow:before { content: '\e91c'; } /* '' */